openapi: 3.2.0
info:
  title: Veracode Identity REST Roles API
  description: 'The Veracode Identity REST API manages users, API service accounts, teams, business units, roles, and API credentials for a Veracode organization. Provides full CRUD operations for organizational identity and access management. Base URL: https://api.veracode.com/api/authn/v2'
  version: 2.0.0
  contact:
    name: Veracode Support
    url: https://community.veracode.com/
servers:
- url: https://api.veracode.com
  description: Veracode Commercial Region API
security:
- HmacAuth: []
tags:
- name: Roles
  description: Role and permission management
paths:
  /api/authn/v2/roles:
    get:
      operationId: listRoles
      summary: List Roles
      description: Returns all available roles.
      tags:
      - Roles
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Role:
      type: object
      properties:
        role_id:
          type: string
        role_name:
          type: string
        role_description:
          type: string
        is_scan_type:
          type: boolean
    Error:
      type: object
      properties:
        _status:
          type: string
        message:
          type: string
        http_code:
          type: integer
    RolesPage:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            roles:
              type: array
              items:
                $ref: '#/components/schemas/Role'
        page:
          $ref: '#/components/schemas/PageInfo'
    PageInfo:
      type: object
      properties:
        total_elements:
          type: integer
        total_pages:
          type: integer
        size:
          type: integer
        number:
          type: integer
  responses:
    Unauthorized:
      description: Missing or invalid HMAC credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    HmacAuth:
      type: http
      scheme: veracode_hmac
      description: HMAC authentication with Veracode API ID and key credentials
