openapi: 3.2.0
info:
  title: Veracode Identity REST Business Units API
  description: 'The Veracode Identity REST API manages users, API service accounts, teams, business units, roles, and API credentials for a Veracode organization. Provides full CRUD operations for organizational identity and access management. Base URL: https://api.veracode.com/api/authn/v2'
  version: 2.0.0
  contact:
    name: Veracode Support
    url: https://community.veracode.com/
servers:
- url: https://api.veracode.com
  description: Veracode Commercial Region API
security:
- HmacAuth: []
tags:
- name: Business Units
  description: Business unit management
paths:
  /api/authn/v2/business_units:
    get:
      operationId: listBusinessUnits
      summary: List Business Units
      description: Returns all business units in the organization.
      tags:
      - Business Units
      responses:
        '200':
          description: List of business units
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUnitsPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBusinessUnit
      summary: Create Business Unit
      description: Creates a new business unit.
      tags:
      - Business Units
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUnitProfile'
      responses:
        '200':
          description: Business unit created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUnit'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid HMAC credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    BusinessUnitsPage:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            business_units:
              type: array
              items:
                $ref: '#/components/schemas/BusinessUnit'
        page:
          $ref: '#/components/schemas/PageInfo'
    Error:
      type: object
      properties:
        _status:
          type: string
        message:
          type: string
        http_code:
          type: integer
    BusinessUnit:
      type: object
      properties:
        bu_id:
          type: string
        name:
          type: string
        created:
          type: string
          format: date-time
    PageInfo:
      type: object
      properties:
        total_elements:
          type: integer
        total_pages:
          type: integer
        size:
          type: integer
        number:
          type: integer
    BusinessUnitProfile:
      type: object
      properties:
        name:
          type: string
  securitySchemes:
    HmacAuth:
      type: http
      scheme: veracode_hmac
      description: HMAC authentication with Veracode API ID and key credentials
